:host {
    display: block;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
}

#about-grid {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-gap: 6px;
}

#image-box {
    float: left !important;
    background: black;
    border-bottom: var(--border);
    height: 220px;
    width: 220px;
    padding: 0px;
}

img {
    height: 220px;
    width: 220px;
}

#description-box-wrapper {
    background: var(--white);
    border-bottom: var(--border);
    min-height: 220px;
    min-width: 220px;
    width: auto;
    padding: 0px;
}

#description-box {
    width: auto;
    margin: 16px;
}

#contact-box {
    height: auto;
    padding-left: 0px;
    margin: 0px;
}

#technologies-box {
    margin-top: 60px;
    padding-left: 0px;
    text-align: center;
}

#technologies {
    font-size: 18px;
}

h1 {
    margin-top: 16px;
}

div {
    height: auto;
}

ul {
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
}

i {
    margin-right: 4px;
}

li {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
}

.mat-button {
    font-size: 13px;
}

.mat-button.mat-accent {
    margin-top: 0px;
}

@media only screen and (max-width: 500px) {
    #about-grid {
        grid-template-columns: repeat(1, minmax(220px, 1fr));
    }

    #image-box {
        width: 100%;
    }

    .btn {
        color: transparent;
    }
}
