<section id="about-grid">
    <div id="image-box">
        <!-- Image placeholder -->
    </div>
    <div id="description-box-wrapper">
        <div id="description-box">
            <h1>Aurelijus Lasys</h1>
            <p>
                Hey, I am a software engineer residing in Vilnius, Lithuania. My
                main specialities are front-end development and test automation.
            </p>
            <ul id="contact-box">
                <li>
                    <button
                        mat-button
                        onClick="window.open('//google.com')"
                        color="accent"
                    >
                        <i class="fas fa-envelope-square"></i>Email
                    </button>
                </li>
                <li>
                    <button
                        mat-button
                        onClick="window.open('//github.com/aurelijusla')"
                        color="accent"
                    >
                        <i class="fab fa-linkedin"></i>LinkedIn
                    </button>
                </li>
                <li>
                    <button
                        mat-button
                        onClick="window.open('//linkedin.com/in/aurelijus-lasys-87136115a')"
                        color="accent"
                    >
                        <i class="fab fa-github"></i>GitHub
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <!-- <div id="technologies-box">
        <p>My main interests currently are...</p>
        <ul id="technologies">
            <li>Angular</li>
            <li>Node.JS</li>
            <li>Express</li>
            <li>MongoDB</li>
            <li>Cypress.IO</li>
            <li>Selenium</li>
        </ul>
    </div> -->
</section>
