<div id="about-grid">
    <div id="image-box">
        <!-- Image placeholder -->
    </div>
    <div id="description-box">
        <h1>Aurelijus Lasys</h1>
        <p>Hey, I am a software engineer residing in Vilnius, Lithuania. My main specialities are front-end development and test automation.</p>
        <ul id="contact-box">
            <li><i class="fas fa-envelope-square"></i>Email</li>
            <li><i class="fab fa-linkedin"></i>LinkedIn</li>
            <li><i class="fab fa-github"></i>GitHub</li>
        </ul>
    </div>
    <div id="technologies-box">
        <p>My main interests currently are...</p>
        <ul id="technologies">
            <li>Angular</li>
            <li>Node.JS</li>
            <li>Express</li>
            <li>MongoDB</li>
            <li>Cypress.IO</li>
            <li>Selenium</li>
        </ul>
    </div>

</div>