mat-sidenav {
    background: var(--white);
    border-right: var(--border);
    width: 200px;
    padding: 0px;
}

.active-item {
    background: var(--active);
    font-weight: bold;
}

@media only screen and (max-width: 500px) {
}
