mat-sidenav {
    background: whitesmoke;
    border-right: solid rgb(138, 138, 138) 1px;
    width: 200px;
    padding: 0px
}

.mat-button.selected {
    background: rgb(212, 226, 20);
}

@media only screen and (max-width: 500px) {

}