.mat-toolbar.mat-primary {
    background: var(--dark);
    color: var(--white);
}

#title {
    cursor: default;
    margin-right: 50px;
}

.mat-button.mat-dark {
    background: var(--dark);
    color: var(--white);
}

.active-link {
    font-weight: bold !important;
}

@media only screen and (max-width: 500px) {
    #title {
        margin-right: 0px;
    }

    button {
        margin-right: 0;
    }
}
