mat-sidenav-content {
    position: relative;
    background: var(--white);
    padding-left: 250px;
    padding-right: 50px;
}

#cheatsheet-detail-wrapper {
    background: var(--white);
    border-bottom: var(--border);
    margin-top: 60px;
}

div {
    height: auto;
    padding-left: 32px;
    padding-bottom: 16px;
    padding-right: 32px;
}

h1,
p {
    padding-right: 2px;
    padding-left: 2px;
}

a {
    color: var(--accent);
    font-weight: bold;
}

a:hover {
    color: var(--dark);
}

.cheatsheet-detail-install-command {
    background: var(--dark);
    color: var(--white);
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
}
