<mat-sidenav-content>
    <div id="cheatsheet-detail-wrapper" *ngIf="cheatsheetItem">
        <h1 class="cheatsheet-detail-title">
            {{ cheatsheetItem.name }}
        </h1>
        <p class="cheatsheet-detail-description">
            {{ cheatsheetItem.description }}
        </p>
        <p class="cheatsheet-detail-docs">
            <a href="{{ cheatsheetItem.docs }}" target="_blank"
                >Documentation</a
            >
        </p>
        <p
            *ngIf="cheatsheetItem.installCommand"
            class="cheatsheet-detail-install-command"
            (click)="copyInstallCommand(cheatsheetItem.installCommand)"
        >
            {{ cheatsheetItem.installCommand }}
        </p>
        <p
            *ngIf="cheatsheetItem.downloadLink"
            class="cheatsheet-detail-download-link"
        >
            <a href="{{ cheatsheetItem.downloadLink }}" target="_blank"
                >Download</a
            >
        </p>
    </div>

    <div id="cheatsheet-detail-wrapper" *ngIf="!cheatsheetItem">
        <h1>
            Select an item
        </h1>
    </div>
</mat-sidenav-content>
