:root {
    --primary: rgb(231, 238, 220);
}

html,
body {
    background: var(--primary);
    height: 100%;
    margin: 0;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

span {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

div {
    height: auto;
}

.mat-button.mat-accent {
    background: rgb(20, 226, 99);
    color: #000000;
    margin-top: 16px;
    margin-bottom: 16px;
}

ul {
    list-style: none;
}
